<div class="flex-container">
	<div class="sidebar sidebar-left-bg"></div>
	<div class="subscription-flex subscription-bg">
	<div class="subscription-container subscription-bg-front">
		<div class="box subscription">			
			<div>
				<h1>Get Me Moved</h1>
				<h2>You want to move, we find the place</h2>
				<br/>
			</div>
			<div class="separator"/>
			<div>	
				<br/>
				<p>Enter your email address for important updates!</p>
				<form class="form-inline" role="form" ng-submit="submitSubscription()">
					<div class="row">
						<div class="form-group">								
							<input type="text" id="inputName" ng-model="subscription.name" ng-model-instant class="form-control input-lg" placeholder="Name" required="true" autofocus=""/>									
						</div>
						<div class="form-group input-group input-group-lg">
							
								<input type="email" id="inputEmail" ng-model="subscription.email" ng-model-instant class="form-control" placeholder="Email address" required="true" autofocus=""/>
								<span class="input-group-btn input-group-lg">
									<button type="submit" class="btn btn-success" >Go!</button>
								</span>
							
						</div>							
					</div>
				</form>
			</div>					
			
		</div>
	</div>		
	</div>		
	<div class="sidebar sidebar-right-bg">
	</div>  
</div>