<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>denunciaServlet</servlet-name>
		<servlet-class>br.com.vigilante.app.client.servlet.DenunciaServletController</servlet-class>
		<multipart-config>
			<max-file-size>3145728</max-file-size>
			<max-request-size>5242880</max-request-size>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>denunciaServlet</servlet-name>
		<url-pattern>/vigilante/denuncia</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>corporacaoServlet</servlet-name>
		<servlet-class>br.com.vigilante.app.client.servlet.CorporacaoServletController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>corporacaoServlet</servlet-name>
		<url-pattern>/vigilante/corporacao</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>naturezaServlet</servlet-name>
		<servlet-class>br.com.vigilante.app.client.servlet.NaturezaDenunciaServletController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>naturezaServlet</servlet-name>
		<url-pattern>/vigilante/natureza</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>seusDireitosServlet</servlet-name>
		<servlet-class>br.com.vigilante.app.client.servlet.SeusDireitosServletController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>seusDireitosServlet</servlet-name>
		<url-pattern>/vigilante/direitos</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>anexoServlet</servlet-name>
		<servlet-class>br.com.vigilante.app.client.servlet.AnexoServletController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>anexoServlet</servlet-name>
		<url-pattern>/vigilante/denuncia/anexo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/vigilante/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>br.com.vigilante.app.client.servlet.LoginServletController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>denunciaListServlet</servlet-name>
		<url-pattern>/vigilante/denuncia/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>denunciaListServlet</servlet-name>
		<servlet-class>br.com.vigilante.app.client.servlet.DenunciaListServletController</servlet-class>
	</servlet>
	<!-- Default page to serve -->
	<!-- welcome-file-list> <welcome-file>Vigilante.html</welcome-file> </welcome-file-list -->
	<!-- Contextos -->
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
