#detalheMensagem {
	position: absolute;
	background: white;
	width: 700px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -350px;
	margin-top: -250px;
	border: 1px solid black;
	z-index: 2;
	overflow-y: auto; 
}

.div-btn-fechar {
	background: darkgray;
    float: right;
    position: absolute;
    right: 0px;
    top: 5px;
    width: 25px;
    height: 22px;
    text-align: center;
    cursor: pointer;
}